@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.products_details{
    top: 50%;
    display: flex;
    justify-content: space-between;

}

.swiper{
    
    width: 45%;
    height: 650px;
    margin-left: 100px;
}

.product_info{
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-left: 20px;
    gap:15px;
    padding: 20px;
   /* border: 1px black solid;*/
    margin-left:20px;
    justify-content:space-between;
    width: 40%;
}

.product_info p{
    font-size: 20px;
}
h2{
    text-decoration: underline;
    font-size: 25px;
}

img{
    height:100%;
    width: 100%;
}

.swiper-slide{
    display: flex;
    justify-content: center;
}